@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1.2;
  font-size: 16px;
  font-weight: 500;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}
@media (max-width: 1270px) {
  .container {
    max-width: 950px;
  }
}
@media (max-width: 1000px) {
  .container {
    max-width: 800px;
  }
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

body._lock {
  overflow: hidden;
}

.ibg {
  position: relative;
}
.ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.block__title {
  font-weight: 700;
  text-align: center;
  margin: 0px 0px 20px 0px;
  font-size: calc(36px + 28 * (100vw - 320px) / 1280);
}

.block__text {
  margin: 0px auto 40px;
  text-align: center;
}

.header__container {
  max-width: 1200px;
  position: relative;
}
@media (max-width: 1200px) {
  .header__container {
    max-width: 1000px;
  }
}

.header__inner {
  position: absolute;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 10px;
  width: 100%;
  top: 0;
  left: 0;
}
@media (max-width: 1000px) {
  .header__inner {
    padding: 40px 20px;
  }
}

.header__logo {
  position: relative;
  overflow: hidden;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 40px;
}

.header__item {
  overflow: hidden;
}

.header__link {
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  font-weight: 700;
  color: #474646;
}
.header__link:hover {
  -webkit-animation: animtext 2s linear infinite 0s;
          animation: animtext 2s linear infinite 0s;
}

.header__button {
  position: relative;
  color: #FFF;
  border-radius: 30px;
  height: 50px;
  width: 150px;
  padding: 10px;
  font-weight: 700;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  letter-spacing: 4px;
  background: linear-gradient(45deg, #808080, #000000);
  overflow: hidden;
}
.header__button::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0.5)), to(transparent));
  background: linear-gradient(to left, rgba(255, 255, 255, 0.5), transparent);
  -webkit-transform: skewX(45deg) translateX(-120%);
          transform: skewX(45deg) translateX(-120%);
  -webkit-transition: all 0.8s ease 0.2s;
  transition: all 0.8s ease 0.2s;
}
.header__button:hover::before {
  -webkit-transform: skewX(45deg) translateX(200%);
          transform: skewX(45deg) translateX(200%);
}
.header__button._active {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-animation: headanim 3s linear 0s forwards;
          animation: headanim 3s linear 0s forwards;
}
@media (max-width: 767px) {
  .header__button {
    margin-right: 60px;
  }
}

@-webkit-keyframes headanim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes headanim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 767px) {
  .header__menu {
    position: fixed;
    width: 40%;
    height: 100%;
    right: -100%;
    top: 0;
    overflow: auto;
    background-color: #ffffff;
    -webkit-transition: right 0.3s ease 0s;
    transition: right 0.3s ease 0s;
    padding-top: 200px;
    overflow: auto;
  }
  .header__menu::before {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: fixed;
    width: 40%;
    top: 0;
    right: -100%;
    height: 100px;
    background-color: #ffffff;
    z-index: 2;
  }
  .header__menu._active {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
  }
  .header__menu._active:before {
    right: 0;
  }
}
@media (max-width: 767px) and (max-width: 690px) {
  .header__menu {
    width: 50%;
  }
}
@media (max-width: 767px) and (max-width: 590px) {
  .header__menu {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__item {
    text-align: center;
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    margin-bottom: 40px;
    font-size: 20px;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    text-decoration: none;
  }
  .header__item:hover {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    letter-spacing: 6px;
  }
  .menu__icon {
    z-index: 5;
    display: block;
    position: absolute;
    top: 55px;
    right: 20px;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .menu__icon span {
    left: 0;
    top: 8px;
    position: absolute;
    height: 2px;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #000;
  }
  .menu__icon span:first-child {
    top: 0px;
  }
  .menu__icon span:last-child {
    top: auto;
    bottom: 0px;
  }
  .menu__icon._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }
  .menu__icon._active span:first-child {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__icon._active span:last-child {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
  }
}
.cover {
  position: relative;
  z-index: -5;
}

.bg {
  position: relative;
  z-index: 10;
}

.bg:has(.color--blue.cover__item--active) {
  background: -webkit-gradient(linear, left top, left bottom, from(#CADBEB), to(rgba(235, 235, 235, 0)));
  background: linear-gradient(180deg, #CADBEB 0%, rgba(235, 235, 235, 0) 100%);
}

.bg:has(.color--green.cover__item--active) {
  background: -webkit-gradient(linear, left top, left bottom, from(#DDEAD9), to(rgba(235, 235, 235, 0)));
  background: linear-gradient(180deg, #DDEAD9 0%, rgba(235, 235, 235, 0) 100%);
}

.bg:has(.color--white.cover__item--active) {
  background: -webkit-gradient(linear, left top, left bottom, from(#FAFAFA), to(rgba(235, 235, 235, 0)));
  background: linear-gradient(180deg, #FAFAFA 0%, rgba(235, 235, 235, 0) 100%);
}

.bg:has(.color--black.cover__item--active) {
  background: -webkit-gradient(linear, left top, left bottom, from(#B6B6B6), to(rgba(235, 235, 235, 0)));
  background: linear-gradient(180deg, #B6B6B6 0%, rgba(235, 235, 235, 0) 100%);
}

.bg:has(.color--red.cover__item--active) {
  background: -webkit-gradient(linear, left top, left bottom, from(#F3D6D1), to(rgba(235, 235, 235, 0)));
  background: linear-gradient(180deg, #F3D6D1 0%, rgba(235, 235, 235, 0) 100%);
}

.cover__container {
  position: relative;
}

@-webkit-keyframes animtext {
  0% {
    background-position: 0% 200%;
  }
  100% {
    background-position: 200% 0%;
  }
}

@keyframes animtext {
  0% {
    background-position: 0% 200%;
  }
  100% {
    background-position: 200% 0%;
  }
}
.cover__title {
  font-size: 210px;
  font-weight: 700;
  position: absolute;
  top: 276px;
}
.cover__title span {
  overflow: hidden;
  color: transparent;
  background: -webkit-gradient(linear, left top, right top, from(#000000), color-stop(#808080), to(#000000));
  background: linear-gradient(90deg, #000000, #808080, #000000);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-transition: all 0.8s ease 0.2s;
  transition: all 0.8s ease 0.2s;
  -webkit-animation: animtext 8s linear infinite;
          animation: animtext 8s linear infinite;
}
@media (max-width: 1270px) {
  .cover__title {
    font-size: 140px;
    top: 220px;
    left: 90px;
  }
}
@media (max-width: 1000px) {
  .cover__title {
    top: 250px;
    right: 0;
    left: 0;
    font-size: 110px;
    left: 0;
  }
}
@media (max-width: 860px) {
  .cover__title {
    font-size: 80px;
    top: 300px;
    text-align: center;
    right: 20px;
  }
}
@media (max-width: 730px) {
  .cover__title {
    right: 0;
    top: 150px;
  }
}
@media (max-width: 586px) {
  .cover__title {
    font-size: 60px;
    top: 120px;
  }
}
@media (max-width: 460px) {
  .cover__title {
    font-size: 45px;
  }
}
@media (max-width: 375px) {
  .cover__title {
    font-size: 39px;
  }
}

.title-air {
  display: inline-block;
  position: relative;
}
@media (max-width: 860px) {
  .title-air {
    right: 30px;
  }
}

.title-pod {
  display: inline-block;
  position: relative;
  z-index: -3;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
@media (max-width: 860px) {
  .title-pod {
    right: 30px;
  }
}
@media (max-width: 407px) {
  .title-pod {
    right: 28px;
  }
}

.title-s {
  display: inline-block;
  position: relative;
  top: 70px;
  left: 10px;
}
@media (max-width: 1000px) {
  .title-s {
    top: 0;
    left: 50px;
  }
}
@media (max-width: 860px) {
  .title-s {
    left: 10px;
  }
}
@media (max-width: 407px) {
  .title-s {
    left: 0;
  }
}

.title-m {
  display: inline-block;
  position: relative;
  top: 285px;
  right: 55px;
  z-index: 5;
}
@media (max-width: 1270px) {
  .title-m {
    top: 265px;
  }
}
@media (max-width: 1000px) {
  .title-m {
    top: 0;
    right: 0;
    left: 70px;
  }
}
@media (max-width: 860px) {
  .title-m {
    left: 20px;
  }
}
@media (max-width: 407px) {
  .title-m {
    left: 5px;
  }
}

.title-ax {
  display: inline-block;
  position: absolute;
  top: 370px;
  right: -190px;
  z-index: -3;
}
@media (max-width: 1270px) {
  .title-ax {
    right: -130px;
  }
}
@media (max-width: 1000px) {
  .title-ax {
    top: 0;
    position: relative;
    left: 80px;
  }
}
@media (max-width: 860px) {
  .title-ax {
    left: 20px;
  }
}
@media (max-width: 407px) {
  .title-ax {
    left: 5px;
  }
}

.cover__image {
  text-align: center;
  padding: 163px 0 163px 0;
  position: relative;
  z-index: -2;
}
.cover__image img {
  max-width: 100%;
}
@media (max-width: 1270px) {
  .cover__image {
    padding: 70px 160px 70px 0px;
  }
}
@media (max-width: 1000px) {
  .cover__image {
    padding: 70px 0 70px 0;
  }
}
@media (max-width: 730px) {
  .cover__image {
    padding: 140px 0 40px 0;
  }
}
@media (max-width: 425px) {
  .cover__image {
    padding: 140px 0 0px 0;
  }
}

.cover__item {
  display: none;
}

.cover__item--active {
  display: inline-block;
}

.choose {
  padding: 46px 0px 180px 0px;
}
@media (max-width: 1200px) {
  .choose {
    padding: 20px 0 100px 0;
  }
}
@media (max-width: 760px) {
  .choose {
    padding: 30px 0 60px 0;
  }
}
@media (max-width: 425px) {
  .choose {
    padding: 50px 0 60px 0;
  }
}

.choose__title {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin: 0px 0px 15px 0px;
}

.choose__text {
  max-width: 555px;
  text-align: center;
  margin: 0 auto 80px;
}
@media (max-width: 1440px) {
  .choose__text {
    margin: 0 auto 40px;
  }
}

.choose__cards {
  display: -ms-grid;
  display: grid;
  gap: 40px;
  -ms-grid-columns: 1fr 40px 1fr 40px 1fr 40px 1fr;
  grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 769px) {
  .choose__cards {
    gap: 20px;
  }
}
@media (max-width: 750px) {
  .choose__cards {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
.choose__cards.anim-paraph .choose__card {
  scale: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.choose__cards.anim-paraph.anim .choose__card {
  scale: 1;
}

.choose__card {
  border-radius: 20px;
  border: 1px solid #777;
  overflow: hidden;
  padding: 50px 55px;
  background: rgba(217, 217, 217, 0);
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}
.choose__card img {
  width: 100%;
}
.choose__card:hover {
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}
@media (max-width: 1010px) {
  .choose__card {
    padding: 30px;
  }
}
@media (max-width: 750px) {
  .choose__card {
    padding: 50px 55px;
  }
}
@media (max-width: 425px) {
  .choose__card {
    padding: 25px;
  }
}

.choose__card--active {
  display: none;
}

.side {
  padding-bottom: 180px;
}
@media (max-width: 1200px) {
  .side {
    padding-bottom: 100px;
  }
}
@media (max-width: 600px) {
  .side {
    padding-bottom: 60px;
  }
}

@media (max-width: 500px) {
  .side__container {
    padding: 0;
  }
}

@media (max-width: 500px) {
  .side__title {
    padding: 0px 10px;
  }
}

.side__text {
  max-width: 653px;
}
@media (max-width: 1000px) {
  .side__text {
    max-width: 500px;
  }
}
@media (max-width: 520px) {
  .side__text {
    max-width: 450px;
    padding: 0 10px;
  }
}

.data-side {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 150px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 998px) {
  .data-side {
    gap: 75px;
  }
}
@media (max-width: 660px) {
  .data-side {
    gap: 40px;
  }
}
@media (max-width: 540px) {
  .data-side {
    gap: 20px;
  }
}
@media (max-width: 500px) {
  .data-side {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.data-side__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 230px;
          flex: 0 1 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 998px) {
  .data-side__info {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40%;
            flex: 0 1 40%;
  }
}
@media (max-width: 500px) {
  .data-side__info {
    text-align: center;
    gap: 20px;
    padding: 0 10px;
  }
}

.show {
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  -webkit-transform: translate(0, -85px);
          transform: translate(0, -85px);
}

.anim .show {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.data-side__photo img {
  width: 100%;
  height: 100%;
}
@media (max-width: 500px) {
  .data-side__photo {
    height: 600px;
  }
  .data-side__photo img {
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.battery {
  background: #FAFAFA;
}

.battery__title {
  padding-top: 80px;
}
@media (max-width: 768px) {
  .battery__title {
    padding-top: 60px;
  }
}

.battery__case {
  position: relative;
  max-width: 400px;
  height: 365px;
  margin: 0px auto;
  opacity: 0;
  scale: 0;
  -webkit-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}
.battery__case img {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
}
.battery__case.anim {
  opacity: 1;
  scale: 1;
  -webkit-transition: all 0.8s ease-out 0s;
  transition: all 0.8s ease-out 0s;
}
@media (max-width: 450px) {
  .battery__case {
    max-width: 300px;
  }
}

.alive {
  background: #FAFAFA;
  padding: 160px 0px 98px 0px;
}
@media (max-width: 1200px) {
  .alive {
    padding: 80px 0 80px 0;
  }
}

.alive__number {
  overflow: hidden;
  font-size: 210px;
  font-weight: 700;
  text-align: center;
  margin: 0px 0px 30px 0px;
  scale: 0;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.anim .alive__number {
  scale: 1;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.alive__text {
  overflow: hidden;
  max-width: 403px;
  text-align: center;
  margin: 0px auto;
  -webkit-transform: translate(0, 80%);
          transform: translate(0, 80%);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 0;
}

.anim .alive__text {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: all 0.8s ease 0.6s;
  transition: all 0.8s ease 0.6s;
  opacity: 1;
}

.main__man {
  position: relative;
}
.main__man::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -10%;
  left: 0;
  background: url("..//img/sound.png") bottom no-repeat;
  background-size: contain;
}

.man img {
  width: 100%;
}

.footer {
  color: #FFF;
  background: #000;
  min-height: 500px;
}
@media (max-width: 768px) {
  .footer {
    min-height: 350px;
  }
}

.footer__top {
  min-height: 220px;
}
@media (max-width: 768px) {
  .footer__top {
    min-height: 120px;
  }
}
@media (max-width: 425px) {
  .footer__top {
    min-height: 80px;
  }
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__find {
  margin: 0px 0px 20px 0px;
}

.footer__tel {
  margin: 0px 0px 20px 0px;
}

.footer__logo {
  margin: 0px 0px 80px 0px;
}
@media (max-width: 500px) {
  .footer__logo {
    margin: 0 0 50px 0;
  }
}

.footer__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
@media (max-width: 768px) {
  .footer__block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}